#hero
  .hero-unit
    h1 Now closed to the public.
    p For consideration, please contact Mike McKoy of Serling Rooks Ferrara McKoy & Worob, LLP.
    a.btn.btn-primary.btn-large(href='mailto:mike.mckoy@crazedhits.com', target='_blank')
      i.icon-envelope
      span &nbsp;Contact
#artists
  .page-header
    h1 Discoveries
    h1.sub
      small
        | Crazed Hits finds top talent prior to being signed — here's a sample.
      //small These artists and more were scouted and showcased via  prior to getting signed
  .row
    .span3
      h3 Kesha
      img.artist(src='../images/kesha.jpg')
    .span3
      h3 Drake
      img.artist(src='../images/drake.jpg')
    .span3
      h3 Nicki Minaj
      img.artist(src='../images/nicki_minaj.jpg')
    .span3
      h3 LMFAO
      img.artist(src='../images/lmfao.jpg')
  .row
    .span3
      h3 Mike Posner
      img.artist(src='../images/mike_posner.jpg')
    .span3
      h3 Kimbra
      img.artist(src='../images/kimbra.jpg')
    .span3
      h3 Neon Trees
      img.artist(src='../images/neon_trees.jpg')
    .span3
      h3 Owl City
      img.artist(src='../images/owl_city.jpg')
  .row
    .span3
      h3 Christina Perri
      img.artist(src='../images/christina_perri.png')
    .span3
      h3 Odd Future
      img.artist(src='../images/odd_future.jpg')
    .span3
      h3 Jessie J
      img.artist(src='../images/jessie_j.jpg')
    .span3
      h3 Kid Cudi
      img.artist(src='../images/kid_cudi.jpg')
